/* 
********************************
SMALL LAPTOP | TABLET:
********************************
*/
@media (max-width: 1175px) {
  .container {
    margin: 40px auto;
  }

  /* CSS Grid */
  .cards-grid {
    grid-template-columns: repeat(2, 307.5px);
    grid-template-rows: 270px 246px 270px 275px;
    row-gap: var(--32px);
  }

  .card--1,
  .card--2,
  .card--3,
  .card--4,
  .card--5 {
    grid-column: auto;
    grid-row: auto;
  }

  .card--1,
  .card--4,
  .card--5 {
    grid-column: span 2;
  }

  /* Card Properties */
  .card {
    max-width: 647px;
  }

  .card__profile {
    gap: 17px;
  }
}

/* 
********************************
MOBILE:
********************************
*/
@media (max-width: 660px) {
  /* CSS Grid */
  .cards-grid {
    grid-template-columns: auto;
    grid-template-rows: 450px 246px 226px 414px 503px;
  }

  .card--1,
  .card--2,
  .card--3,
  .card--4,
  .card--5 {
    grid-column: auto;
    grid-row: auto;
  }

  /* Card Properties */
  .card {
    max-width: 305px;
  }

  /* Decor */
  .card--1::before {
    display: none;
  }
}
