/* 
********************************
SMALL LAPTOP | TABLET:
********************************
*/

@media (max-width: 1175px) {
  .container {
    margin: var(--40px) auto;
  }

  /* CSS Grid */
  .cards-grid {
    grid-template-columns: repeat(2, 19.19rem); /* 307.5px */
    grid-template-rows: 16.88rem 15.38rem 16.88rem 17.19rem /* 270px 246px 270px 275px */;
    row-gap: var(--32px);
  }

  .card--1,
  .card--2,
  .card--3,
  .card--4,
  .card--5 {
    grid-column: auto;
    grid-row: auto;
  }

  .card--1,
  .card--4,
  .card--5 {
    grid-column: span 2;
  }

  /* Card Properties */
  .card {
    max-width: 40.44rem /* 647px */;
  }

  .card__profile {
    gap: 1.063rem /* 17px */;
  }
}

/* 
********************************
MOBILE:
********************************
*/

@media (max-width: 660px) {
  /* CSS Grid */
  .cards-grid {
    grid-template-columns: auto;
    grid-template-rows: 28.13rem 15.38rem 14.13rem 25.88rem 31.44rem /* 450px 246px 226px 414px 503px */;
  }

  .card--1,
  .card--2,
  .card--3,
  .card--4,
  .card--5 {
    grid-column: auto;
    grid-row: auto;
  }

  /* Card Properties */
  .card {
    max-width: 19.06rem /* 305px */;
  }

  /* Decor */
  .card--1::before {
    display: none;
  }
}
