:root {
  /* Colors: */
  --clr-grey-100: #e7eaee;
  --clr-grey-200: #cfcfcf;
  --clr-grey-400: #676d7e;
  --clr-grey-500: #48556a;
  --clr-black: #121212;
  --clr-dark-blue: #19212e;
  --clr-purple-50: #eee5ff;
  --clr-purple-300: #c4a2f6;
  --clr-purple-500: #7541c8;
  --clr-border: #a775f1;
  --clr-attribution: #3e52a3;

  /* Pixel Sizes: */
  --4px: 0.25rem;
  --8px: 0.5rem;
  --10px: 0.625rem;
  --11px: 0.6875rem;
  --12px: 0.75rem;
  --13px: 0.8125rem;
  --14px: 0.875rem;
  --16px: 1rem;
  --18px: 1.125rem;
  --20px: 1.25rem;
  --24px: 1.5rem;
  --26px: 1.625rem;
  --28px: 1.75rem;
  --30px: 1.875rem;
  --32px: 2rem;
  --34px: 2.125rem;
  --36px: 2.25rem;
  --38px: 2.375rem;
  --40px: 2.5rem;
  --50px: 3.125rem;
  --60px: 3.75rem;
  --255px: 15.94rem;
  --1440px: 90rem;
}

/* 
********************************
SELF-HOSTING FONT:
********************************
*/
@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("/assets/fonts/BarlowSemiCondensed-SemiBold.woff2") format("woff2"),
    url("/assets/fonts/BarlowSemiCondensed-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("/assets/fonts/BarlowSemiCondensed-Medium.woff2") format("woff2"),
    url("/assets/fonts/BarlowSemiCondensed-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* 
********************************
GLOBAL CSS VALUES:
********************************
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: var(--13px);
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0;

  background-color: #f6f5f6;
  color: var(--clr-grey-400);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 
********************************
MAIN:
********************************
*/

/* 
********************************
FOOTER:
********************************
*/

/*UPDATE VALUES!*/
.attribution {
  text-align: center;
  font-size: var(--12px);
  color: var(--clr-attribution);
  margin-bottom: var(--24px);
}

/* LINKS */
/* Default/Visited State */
.attribution a:link,
.attribution a:visited {
  color: var(--clr-attribution);
  text-decoration: none;
}

/* State On Hover / Whilst being clicked */
.attribution a:hover,
.attribution a:active {
  cursor: pointer;
  opacity: 75%;
}
